* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #886AD3; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #886AD3 0%, #38C5C8 70%, #38C5C8 70%, #38C5C8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #886AD3 0%,#38C5C8 70%,#38C5C8 70%,#38C5C8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #886AD3 0%,#38C5C8 70%,#38C5C8 70%,#886AD3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#886AD3', endColorstr='#38C5C8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 20px;
}

.suggestion-opaque>div>div {
  background: rgba(95, 35, 35, 0.5)!important;
  transition: background 300ms;
  border: 2px solid white;
}
.suggestion-opaque>div>div:hover {
  background: rgba(255, 255, 255)!important;
}
.vertical-timeline-element-date {
  color: white!important;

}

.react-datepicker-wrapper input {
  padding: 8px 6px;
  cursor: pointer;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 3px;
  width: 100%;
}

.title-pop-shadow {
  animation:  glow 3s ease-in-out;
}

@keyframes glow {
  0% {
    text-shadow:  0 0 10px white;
  }

  15% {
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1),
    -2px -2px 10px rgba(255, 255, 255, 1);
  }
  30% {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, .7),
    -2px -2px 4px rgba(255, 255, 255, .7);
  }
  50% {
    text-shadow: 20px 20px 50px rgba(255, 255, 255, .5),
    -20px -20px 50px rgba(255, 255, 255, .5);
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

